<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huijian.rac.mapper.GoodsRecordMapper">
    <resultMap id="BaseResultMap" type="com.huijian.rac.bean.GoodsRecord">
        <id column="GoodsID" jdbcType="INTEGER" property="goodsID"/>
        <id column="WarehouseRecordID" jdbcType="INTEGER" property="warehouseRecordID"/>
        <result column="GoodsName" jdbcType="VARCHAR" property="name"/>
        <result column="Brand" jdbcType="VARCHAR" property="brand"/>
        <result column="Specification" jdbcType="VARCHAR" property="specification"/>
        <result column="Unit" jdbcType="VARCHAR" property="unit"/>
        <result column="SecondaryAccounting" jdbcType="VARCHAR" property="secondaryAccounting"/>
        <result column="Amount" jdbcType="INTEGER" property="amount"/>
        <result column="UnitPrice" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="Sum" jdbcType="DECIMAL" property="sum"/>
        <result column="ProductionBatch" jdbcType="VARCHAR" property="productionBatch"/>
        <result column="TermOfValidity" jdbcType="TIMESTAMP" property="termOfValidity"/>
        <result column="RegistrationNumber" jdbcType="VARCHAR" property="registrationNumber"/>
        <result column="Pack" jdbcType="VARCHAR" property="pack"/>
        <result column="Company" jdbcType="VARCHAR" property="company"/>
        <result column="Origin" jdbcType="VARCHAR" property="origin"/>
    </resultMap>

    <update id="update" parameterType="com.huijian.rac.bean.GoodsRecord">
        update sj_goodsrecord
        <set>
            <if test="name!=null">
                GoodsName=#{name,jdbcType=VARCHAR},
            </if>
            <if test="brand!=null">
                Brand=#{brand,jdbcType=VARCHAR},
            </if>
            <if test="specification!=null">
                Specification=#{specification,jdbcType=VARCHAR},
            </if>
            <if test="unit!=null">
                Unit=#{unit,jdbcType=VARCHAR},
            </if>
            <if test="secondaryAccounting!=null">
                SecondaryAccounting=#{secondaryAccounting,jdbcType=VARCHAR},
            </if>
            <if test="amount!=null">
                Amount=#{amount,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice!=null">
                UnitPrice=#{unitPrice,jdbcType=VARCHAR},
            </if>
            <if test="sum!=null">
                Sum=#{sum,jdbcType=VARCHAR},
            </if>
            <if test="productionBatch!=null">
                ProductionBatch=#{productionBatch,jdbcType=VARCHAR},
            </if>
            <if test="registrationNumber!=null">
                RegistrationNumber=#{registrationNumber,jdbcType=VARCHAR},
            </if>
            <if test="termOfValidity!=null">
                TermOfValidity=#{termOfValidity,jdbcType=TIMESTAMP},
            </if>
            <if test="pack!=null">
                Pack=#{pack,jdbcType=VARCHAR},
            </if>
            <if test="company!=null">
                Company=#{company,jdbcType=VARCHAR},
            </if>
            <if test="origin!=null">
                Origin=#{origin,jdbcType=VARCHAR},
            </if>
        </set>
        where GoodsID = #{goodsID} and WarehouseRecordID = #{warehouseRecordID}
    </update>

    <delete id="deleteGoodsRecordByGoodsId">
        delete from sj_goodsrecord where GoodsID in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and WarehouseRecordID = #{warehouseRecordID}
    </delete>

    <delete id="deleteGoodsRecordByWid">
        delete from sj_goodsrecord where WarehouseRecordID in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="wareHouse" parameterType="com.huijian.rac.bean.GoodsRecord">
        insert into sj_goodsrecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            GoodsID,
            GoodsName,
            <if test="brand != null">
                Brand,
            </if>
            <if test="specification != null">
                Specification,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="secondaryAccounting != null">
                SecondaryAccounting,
            </if>
            Amount,
            UnitPrice,
            Sum,
            <if test="productionBatch != null">
                ProductionBatch,
            </if>
            <if test="termOfValidity != null and termOfValidity != ''">
                TermOfValidity,
            </if>
            <if test="registrationNumber != null">
                RegistrationNumber,
            </if>
            <if test="pack != null">
                Pack,
            </if>
            <if test="company != null">
                Company,
            </if>
            <if test="origin != null">
                Origin,
            </if>
            <if test="warehouseRecordID != null">
                WarehouseRecordID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{goodsID,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR},
            <if test="brand != null">
                #{brand,jdbcType=VARCHAR},
            </if>
            <if test="specification != null">
                #{specification,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="secondaryAccounting != null">
                #{secondaryAccounting,jdbcType=VARCHAR},
            </if>
                #{amount,jdbcType=VARCHAR},
                #{unitPrice,jdbcType=VARCHAR},
                #{sum,jdbcType=VARCHAR},
            <if test="productionBatch != null">
                #{productionBatch,jdbcType=VARCHAR},
            </if>
            <if test="termOfValidity!=null and termOfValidity != ''">
                #{termOfValidity,jdbcType=TIMESTAMP},
            </if>
            <if test="registrationNumber != null">
                #{registrationNumber,jdbcType=VARCHAR},
            </if>
            <if test="pack != null">
                #{pack,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="origin != null">
                #{origin,jdbcType=VARCHAR},
            </if>
            <if test="warehouseRecordID != null">
                #{warehouseRecordID,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="ifExistGoodsRecordByGid" resultType="java.lang.Integer">
        select count(*) from sj_goodsrecord
    </select>

    <select id="inquiryGoodsRecordByID" resultMap="BaseResultMap">
        select * from sj_goodsrecord where
        WarehouseRecordID = #{id}
    </select>
</mapper>